@charset "UTF-8";
@font-face { font-family:nanumgothic; src:url('NanumGothic-Regular.ttf') format('truetype'); }

/* Reset */
*:where(:not(html,iframe,canvas,img,svg,video):not(svg *,symbol *)) { all:unset; display:revert; }
*,*::before,*::after { box-sizing:border-box; }
a,button { cursor:pointer; }
ol,ul,menu { list-style:none; }
table { border-collapse:collapse; }
textarea { white-space:revert; }
meter { -webkit-appearance:revert; appearance:revert; }
::placeholder { color:unset; }
:where([hidden]) { display:none; }
:where([contenteditable]) { -moz-user-modify:read-write; -webkit-user-modify:read-write; overflow-wrap:break-word; -webkit-line-break:after-white-space; }
:where([draggable="true"]) { -webkit-user-drag:element; }
u { text-decoration:revert; text-underline-position:under; }

/* Setup */
:root { font:15px/1 nanumgothic; height:100%; }
body { height:100%; padding:4rem 0 2rem; background-color:#bdc1c3 }

.theme-default {
    --bg-title:#34568b;
}

/* Layout - Header */
header,
footer { position:fixed; left:0; width:100%; z-index:8; background:#e8eaeb; line-height:2rem; min-width:340px; }
header,
footer,
main #workspace #board img,
#popup .content .header,
#popup .content .buttons { user-drag:none; -webkit-user-drag:none; user-select:none; }
header { top:0; }
header p,
header button,
header label,
footer p,
main #workspace #btn-unit-toggle,
#popup .content .header p,
#popup .content .buttons button { padding:0 0.5rem; transition:all .1s ease-in-out; }

header > div,
footer > div { display: flex; }
header #title,
#popup .content .header,
#popup .content .buttons button.btn-confirm { background-color:var(--bg-title); color:#fff; }

#popup { padding:1px; background-color: #ccc; border:2px solid #ddd; }
#popup .content .buttons button { background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,.1) 100%); background-size:200% 200%; }

header #title > button:hover,
#popup .content .buttons button:hover { background-position: 0% 100%; }
header #title #btn-info,
header #menu #btn-reset,
footer #total { margin-left:auto; }
header #menu,
#popup { box-shadow: 0 1px 1px 0 rgba(0,0,0,.25); }
header #menu > div,
header #menu > button { position:relative; cursor:pointer; }
header #menu button,
header #menu p,
header #menu label,
#popup .content .header p { white-space:nowrap; }
header #menu button:hover,
header #menu div:hover p,
header #menu label:hover { background:#ccc; }
header #menu > div > div { position: absolute; top:2em; left:0; visibility:hidden; background:#ddd; box-shadow: 0 1px 1px 0 rgba(0,0,0,.25); transition:all 0.1s ease-in-out; opacity: 0; }
header #menu > div > div > input { display:none; }
header #menu > div > div > input + label:before { content:''; position:absolute; left:0.5rem; top:0.05rem; }
header #menu > div > div > input:checked + label:before { content:'✓'; font-size:0.75rem; }
header #menu > div > div > label { padding-left:1.3rem; }
header #menu > div > div > label,
header #menu > div > div > button { position:relative; display:block; width:100%; }
header #menu > div:hover > div { visibility: visible; opacity: 1; }

/* Layout - Main */
main { display:block; width:100%; height:100%; overflow:scroll; }
main #workspace { display:grid; grid-template:2rem min-content / 2rem min-content; width:min-content; height:min-content; font-size:0; }
main #workspace #btn-unit-toggle { position:fixed; top:4rem; left:0; width:2rem; height:2rem; text-align: center; border-width:0 1px 1px 0; border-style:solid; z-index:7; }
main #workspace #btn-unit-toggle:before,
main #workspace #btn-unit-toggle:after { position:absolute; font-size:0.75rem; }
main #workspace #btn-unit-toggle:before { top:0.2rem; left:0.2rem; }
main #workspace #btn-unit-toggle:after { bottom:0.2rem; right:0.2rem; }
body.unit-ratio main #workspace #btn-unit-toggle:before { content:'%'; }
body.unit-ratio main #workspace #btn-unit-toggle:after { content:'➔px'; }
body.unit-pixel main #workspace #btn-unit-toggle:before { content:'px'; }
body.unit-pixel main #workspace #btn-unit-toggle:after { content:'➔%'; }
main #workspace .axis { position:sticky; background:#fff; z-index:6; }
main #workspace .axis,
main #workspace .axis .scale i { border-style:solid; }
main #workspace .axis .scale i span { font-size:0.75rem; user-select:none; }
main #workspace .axis.x { top:0; height:2rem; display:flex; border-width:0 0 1px; flex-direction:column; }
main #workspace .axis.y { left:0; width:2rem; display:inline-flex; border-width:0 1px 0 0; flex-direction:row; }
main #workspace .axis.x .scale.small { height:0.75rem; }
main #workspace .axis.y .scale.small { width:0.75rem; }
main #workspace .axis.x .scale.big { height:1.25rem; }
main #workspace .axis.y .scale.big { width:1.25rem; }
main #workspace .axis.x .scale i { display:inline-flex; border-width:0 1px 0 0; height:100%; }
main #workspace .axis.y .scale i { display:flex; border-width:0 0 1px 0; width:100%; }
main #workspace .axis.x .scale i span { margin-left:auto; padding:0.2rem 0.2rem 0 0; }
main #workspace .axis.y .scale i span { margin-top:auto; writing-mode:vertical-lr; padding:0 0 0.2rem 0.2rem; }
body.unit-ratio main #workspace .axis.x .scale.small i { width:5%; }
body.unit-ratio main #workspace .axis.x .scale.big i { width:10%; }
body.unit-ratio main #workspace .axis.y .scale.small i { height:5%; }
body.unit-ratio main #workspace .axis.y .scale.big i { height:10%; }
body.unit-pixel main #workspace .axis.x .scale.small i { width:10px; }
body.unit-pixel main #workspace .axis.x .scale.big i { width:100px; }
body.unit-pixel main #workspace .axis.y .scale.small i { height:10px; }
body.unit-pixel main #workspace .axis.y .scale.big i { height:100px; }
main #workspace #board { position:relative; }
main #workspace #board #canvas,
main #workspace #board #overlay { position:absolute; top:0; left:0; width:100%; height:100%; }
main #workspace #board #canvas { z-index:4; }
main #workspace #board #overlay { z-index:5; cursor:none; }
main #workspace #board #overlay .map { position:absolute; border:1px dashed #fff; background:rgba(56,150,217,.5); cursor:grab; }

/* Layout - Footer */
footer { bottom:0; box-shadow: 0 -1px 1px 0 rgba(0,0,0,.25); }
footer #filename,
footer #total { white-space:nowrap; }
footer #filename { text-overflow:ellipsis; overflow:hidden; }

/* Layout - Popup */
#dim,
#popup { position:fixed; }
#dim { width:100%; height:100%; background:rgba(0,0,0,.5); z-index:9; display:none; top:0; left:0; }
#popup { min-width:300px; z-index:10; top:50%; left:50%; transform: translate(-50%, -50%); }
#popup #popup-settings { width:500px; }
#popup .content .header { position: relative; display: flex; }
#popup .content .header p { line-height:2rem; }
#popup .content .header .btn-popup-close { margin-left:auto; width:2rem; text-align: center; }
#popup .content .body { padding:0.5rem; background: #fff; display: block; }
#popup .content .buttons { display: flex; flex-wrap: wrap; }
#popup .content .buttons button { line-height: 3rem; flex-grow: 1; flex-basis: 50%; text-align: center; }
#popup .content .buttons button.btn-cancel { background-color: #7e878a; color:#fff; }
#popup .content .buttons button.btn-confirm { }

/* Theme */
body.theme-default { color:#222; }
body.theme-default #hidden-guide-color { color:rgba(0,0,255,.75); }
body.theme-default #hidden-guide-color-active { color:rgba(255,0,0,.75); }
body.theme-default #hidden-guide-color-disabled { color:black; }
body.theme-default main #workspace #btn-unit-toggle { background:#fff; }
body.theme-default main #workspace #btn-unit-toggle:hover { background:#eee; }
body.theme-default main #workspace #btn-unit-toggle,
body.theme-default main #workspace .axis,
body.theme-default main #workspace .axis i { border-color:#ccc; }
body.theme-default main #workspace #board #canvas .guide { background:blue; }