@charset "UTF-8";
@font-face { font-family:nanumgothic; src:url('NanumGothic-Regular.ttf') format('truetype'); font-weight:400; }

/* 리셋 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) { all:unset; display:revert; }
*, *::before, *::after { box-sizing:border-box; font:inherit; user-drag:none; -webkit-user-drag:none; user-select:none; }
html, body { height:100%; }
a, button, label, input:is([type=radio], [type=checkbox]) { cursor:pointer; }
ol, ul, menu { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
input, textarea { -webkit-user-select:auto; }
textarea { white-space:revert; }
meter { -webkit-appearance:revert; appearance:revert; }
u { text-decoration:revert; text-underline-position:under; }
::placeholder { color:unset; }
:where([hidden]) { display:none; }
:where([contenteditable]) { -moz-user-modify:read-write; -webkit-user-modify:read-write; overflow-wrap:break-word; -webkit-line-break:after-white-space; -webkit-user-select:auto; }
:where([draggable="true"]) { -webkit-user-drag:element; }
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; }

/* 공통 */
:root { font:16px/1 nanumgothic; }
body { font-size:1rem; color:#222; }
.mb1 { margin-bottom:1rem; }
.mb2 { margin-bottom:2rem; }
.icon::after { content:''; display:inline-block; width:1.5rem; height:1.5rem; -webkit-mask-size:cover; mask-size:cover; }

#wrap { display:flex; height:100%; }
#toolbar { height:100%; background-color:#8785c4; }
#toolbar .tool { position:relative; display:block; width:3rem; height:3rem; transition:all ease-in-out .14s; text-align:center; }
#toolbar .tool:hover,
#toolbar .tool.active { background-color:rgba(255,255,255,.25); }
#toolbar .tool::after { background-color:#fff; }
#toolbar .tool#nav-img::after { -webkit-mask-image:url(img/photo.svg); mask-image:url(img/photo.svg); }
#toolbar .tool#nav-src::after { -webkit-mask-image:url(img/block.svg); mask-image:url(img/block.svg); }
#toolbar .tool#nav-prev::after { -webkit-mask-image:url(img/eye.svg); mask-image:url(img/eye.svg); }
#toolbar .tool#nav-set::after { -webkit-mask-image:url(img/settings.svg); mask-image:url(img/settings.svg); }

main { position:relative; flex-grow:1; }
main #dim { position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,.6); z-index:10; }
main #drawer { position:absolute; top:0; left:0; width:25rem; height:100%; color:#4c4a85; background-color:#a5a4d3; z-index:11; overflow-y:auto; }
main #drawer article { display:none; padding:0 1rem 1rem; }
main #drawer article.active { display:block; }
main #drawer article h1 { position:sticky; top:0; font-weight:bold; text-align:center; border-bottom:2px dashed #7977af; line-height:3rem; margin-bottom:1.5rem; background-color:#a5a4d3; z-index:10; }
main #drawer article h2 { margin-bottom:0.75rem; font-weight:bold; }
main #drawer article #img-list .img-list-item { display:flex; height:3rem; background-color:rgba(255,255,255,.6); margin-bottom:0.75rem; }
main #drawer article #img-list .img-list-item:last-child { margin-bottom:0; }
main #drawer article #img-list .img-list-item .img-move,
main #drawer article #img-list .img-list-item button { flex-basis:3rem; padding:0.75rem; transition:all ease-in-out .14s; }
main #drawer article #img-list .img-list-item .img-move { background-color:#8785c4; cursor:grab; }
main #drawer article #img-list .img-list-item .img-move:hover { background-color:#7777b9; }
main #drawer article #img-list .img-list-item .img-move::after { background-color:#fff; -webkit-mask-image:url(img/move.svg); mask-image:url(img/move.svg); }
main #drawer article #img-list .img-list-item button::after { background-color:#4c4a85; }
main #drawer article #img-list .img-list-item button:hover { background-color:#c0bee0; }
main #drawer article #img-list .img-list-item .img-upload::after { -webkit-mask-image:url(img/upload.svg); mask-image:url(img/upload.svg); }
main #drawer article #img-list .img-list-item .img-delete::after { -webkit-mask-image:url(img/delete.svg); mask-image:url(img/delete.svg); }
main #drawer article #img-list .img-list-item .img-path { flex-grow:1; line-height:3rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0 0.75rem; }
main #drawer article #img-list .img-list-item.loaded .img-path { cursor:zoom-in; }
main #drawer article .btnset { display:flex; margin-top:1rem; flex-wrap:wrap; column-gap:0.5rem; }
main #drawer article .btnset button { flex-grow:1; flex-basis:25%; height:3rem; text-align:center; color:#fff; background-color:#8785c4; transition:all ease-in-out .14s; }
main #drawer article .btnset button:hover { background-color:#7777b9; }
main #drawer article .btnset button.btn-discard { background-color:#908db4; }
main #drawer article .btnset button.btn-discard:hover { background-color:#8684a2; }
main #drawer article .btnset button i,
main #drawer article .btnset button span { display:inline-block; vertical-align:middle; }
main #drawer article .btnset button i { margin-right:0.5rem; }
main #drawer article .btnset button i::after { background-color:#fff; }
main #drawer article #img-add i::after { -webkit-mask-image:url(img/add.svg); mask-image:url(img/add.svg); }
main #drawer article #save-src i::after { -webkit-mask-image:url(img/download.svg); mask-image:url(img/download.svg); }
main #drawer article #load-src i::after { -webkit-mask-image:url(img/upload.svg); mask-image:url(img/upload.svg); }
main #drawer article #reset-src i::after { -webkit-mask-image:url(img/rewind.svg); mask-image:url(img/rewind.svg); }
main #drawer article #homs-src i::after { -webkit-mask-image:url(img/code.svg); mask-image:url(img/code.svg); }
main #drawer article #prev-pc i::after { -webkit-mask-image:url(img/pc.svg); mask-image:url(img/pc.svg); }
main #drawer article #prev-mo i::after { -webkit-mask-image:url(img/mobile.svg); mask-image:url(img/mobile.svg); }
main #drawer article #prev-custom i::after { -webkit-mask-image:url(img/devices.svg); mask-image:url(img/devices.svg); }
main #drawer article .src-code { width:100%; padding:0.5rem; background-color:#fff; word-break:break-all; line-height:1.5rem; }
main #drawer article .src-code[disabled] { background-color:#ccc; }
main #drawer article #prev-form { display:flex; flex-basis:40%; flex-grow:1; }
main #drawer article #prev-form input { width:calc(100% - 3rem); padding:0.75rem; background-color:#fff; }
main #drawer article #prev-form span { text-align:center; line-height:3rem; padding-left:0.5rem; font-weight:bold; }
main #drawer article #prev-form span::after { -webkit-mask-image:url(img/close.svg); mask-image:url(img/close.svg); background-color:#4c4a85; }

main .ruler.x { position:sticky; top:0; width:100%; height:2rem; border-bottom:1px solid #ddd; }